name: CI

on: [push, pull_request]

permissions:
  contents: read

jobs:
  checkers:
    name: Run static checkers
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Run clang-format style check (.c and .h)
      uses: jidicula/clang-format-action@4726374d1aa3c6aecf132e5197e498979588ebc8 # v4.15.0

  ubuntu:
    name: ${{ matrix.cmake-build-type }}-build [${{ matrix.compiler }}, cmake-${{ matrix.cmake-version }} sanitizer="${{ matrix.sanitizer }}"]
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc-14, clang-19]
        cmake-version: [3.29.3]
        cmake-build-type: [Release, RelWithDebInfo]
        sanitizer: ["", thread, undefined, leak, address]
        include:
          - compiler: gcc-9
            cmake-version: 3.14.5
            cmake-build-type: Release
            sanitizer: ""
          - compiler: clang-9
            cmake-version: 3.18.6
            cmake-build-type: Release
            sanitizer: ""

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Prepare build tools
      uses: aminya/setup-cpp@9dc9c217f497fe7342eed97e6f200bf101c9cc04 # v1.6.2
      with:
        compiler: ${{ matrix.compiler }}
        cmake: ${{ matrix.cmake-version }}
    - name: Install cached APT packages
      uses: awalsh128/cache-apt-pkgs-action@7ca5f46d061ad9aa95863cd9b214dd48edef361d # v1.5.0
      with:
        packages: libevent-dev libuv1-dev libev-dev libglib2.0-dev
        version: 1.0
    - name: Install hiredis
      env:
        VERSION: 1.3.0
      run: |
        curl -L https://github.com/redis/hiredis/archive/v${VERSION}.tar.gz | tar -xz
        cmake -S hiredis-${VERSION} -B hiredis-build -DENABLE_SSL=ON
        sudo make -C hiredis-build install
    - name: Create build folder
      run: cmake -E make_directory build
    - name: Generate makefiles
      shell: bash
      working-directory: build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DENABLE_SSL=ON -DENABLE_IPV6_TESTS=ON -DDOWNLOAD_HIREDIS=OFF -DUSE_SANITIZER=${{ matrix.sanitizer }} ..
    - name: Build
      shell: bash
      working-directory: build
      run: VERBOSE=1 make
    - name: Setup clusters
      shell: bash
      working-directory: build
      run: make start
    - name: Wait for clusters to start..
      uses: kibertoad/wait-action@99f6f101c5be7b88bb9b41c0d3b810722491b8e5 # 1.0.1
      with:
        time: '20s'
    - name: Run tests
      shell: bash
      working-directory: build
      run: make CTEST_OUTPUT_ON_FAILURE=1 test
    - name: Teardown clusters
      working-directory: build
      shell: bash
      run: make stop
    - name: Build examples
      shell: bash
      env:
        CC: ${{ matrix.compiler }}
      run: |
        # Unset env. variables set by action 'aminya/setup-cpp'
        # since they affects library installation and linkage.
        unset LDFLAGS LIBRARY_PATH
        examples/using_cmake_externalproject/build.sh
        examples/using_cmake_separate/build.sh
        examples/using_cmake_and_make_mixed/build.sh
        examples/using_make/build.sh

  macos:
    name: macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release -DENABLE_SSL=ON
          ninja -v

  windows:
    name: Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: ilammy/msvc-dev-cmd@0b201ec74fa43914dc39ae48a89fd1d8cb592756 # v1.13.0
      - name: Prepare
        run: |
          choco install -y ninja
          vcpkg install --triplet x64-windows pkgconf libevent
      - name: Build
        run: |
          mkdir build && cd build
          cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release -DCMAKE_TOOLCHAIN_FILE=C:\vcpkg\scripts\buildsystems\vcpkg.cmake
          ninja -v

  windows-mingw64:
    name: Windows (MinGW64)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up MinGW
        uses: msys2/setup-msys2@61f9e5e925871ba6c9e3e8da24ede83ea27fa91f # v2.27.0
        with:
          msystem: mingw64
          install: |
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-libevent
      - name: Build
        shell: msys2 {0}
        run: |
          mkdir build && cd build
          cmake .. -G Ninja
          cmake --build .
